html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto;
}

header{

    .logo{
        position: fixed;
        width: 27.1vw;
        height: 5.1vh;
        top: 6.1vh;
        left: 4.1vw;
        background: purple;
        z-index: 200;
    }

    .menu{
        position: fixed;
        width: 27.1vw;
        height: 5.1vh;
        top: 6.1vh;
        right: 4.1vw;
        background: purple;
        z-index: 200;
    }
    

}

.hero{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(17, 1fr);


    .backgroundTile{
        background: #FEE9C0;

        grid-column-start: 1;
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 18;
    }

    .imageTile{
        background: url('../imgs/fair-trade-slide.png');
        background-size: cover;
        background-position: center;

        grid-column: 12 / 30;
        grid-row: 4 / 16;
        z-index: 100;
    }

    .tileInfo{
        grid-column: 3 / 11;
        grid-row: 4 / 16;
        align-self: center;

        h1{
            /* 01. FAIR TRADE: */
            font-family: 'MyriadPro-LightCond';
            font-weight: 100;
            font-size: 45px;
            line-height: 45px;
            color: #000;
            margin: 0 0 12px 0;
        }

        p{
            /* The premium from the: */
            font-family: 'MyriadPro-Cond';
            font-size: 16px;
            color: #000;
            line-height: 22.39px;
            margin: 0;
        }

    }
}